.masthead {
  background-color: #f9f9f9;
}

.titles-and-dates {
  list-style-type: none;
  padding: 0;
}

.titles-and-dates li {
  padding: 5px 0;
}

.titles-and-dates .title {
  font-family: "PT Sans", Helvetica, Arial, sans-serif;
}

.titles-and-dates .date {
  color: #999;
  float: right;
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  text-transform: uppercase;
  font-size: 0.8em;
}

@media (max-width: 900px) {
  .titles-and-dates .date {
    display: none;
  }
}

