<title>{{ page.title }}</title>
<meta name="author" content="{{ site.author.name }}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
<link rel="stylesheet" type="text/css" href="/css/poole.css">
<link rel="stylesheet" type="text/css" href="/css/lanyon.css">
<link rel="stylesheet" type="text/css" href="/css/lanyon-syntax.css">
<link rel="stylesheet" type="text/css" href="/css/general.css">
<link rel="stylesheet" type="text/css" href="/vendor/fontello/css/fontello.css">
<!--[if IE 7]><link rel="stylesheet" href="css/fontello-ie7.css"><![endif]-->
<link href="{{ site.feed_url }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
<link rel="shortcut icon" href="/favicon.ico">
<link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
