<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>

            <div class="social">
              <a title="Github" href="https://github.com/tanob"><i class="icon-github-squared"></i></a>
              <a title="Twitter" href="https://twitter.com/tanob"><i class="icon-twitter-squared"></i></a>
              <a title="LinkedIn" href="https://www.linkedin.com/in/adrianob"><i class="icon-linkedin-squared"></i></a>
              <a title="Feed" href="{{ site.feed_url }}"><i class="icon-rss-squared"></i></a>
            </div>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
