<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en-us{% endif %}">
	<head>
		<title>{{ page.title }}</title>
		<meta name="author" content="Adriano Bonat">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/general.css">
		<link href="http://feeds.feedburner.com/tanob-blog" rel="alternate" title="tanob's blog" type="application/atom+xml">
	</head>
	<body>
		<h1>{{ page.title }}</h1>

		{{ content }}

		<address>
			<p>
				Adriano Bonat<br>
				&raquo; <a href="http://github.com/tanob">Github</a><br>
				&raquo; <a href="http://twitter.com/tanob">Twitter</a>
			</p>
		</address>
		{% include analytics.html %}
	</body>
</html>

