<!DOCTYPE html>
<html lang="{% if page.lang %}{{ page.lang }}{% else %}en-us{% endif %}">
	<head>
		<title>{{ page.title }}</title>
		<meta name="author" content="{{ site.author.name }}">
		<meta charset="utf-8">
		<link rel="stylesheet" type="text/css" href="/css/general.css">
		<link rel="stylesheet" type="text/css" href="/css/monokai.css">
                <link href="{{ site.feed_url }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
	</head>
	<body>
		<h1>{{ page.title }}</h1>
		<h3>Posted on {{ page.date | date_to_string }}</h3>

		{{ content }}

		<hr>
		{% include disqus_comments.html %}
		<hr>
		<p><a href="/">Back to Index</a></p>
		{% include analytics.html %}
	</body>
</html>

